.corners01{
    border-radius: 65px 65px 65px 65px;
-moz-border-radius: 65px 65px 65px 65px;
-webkit-border-radius: 65px 65px 65px 65px;
border: 0px solid #000000;
}
.corners02{
   border-radius: 82px 82px 0px 0px;
-moz-border-radius: 82px 82px 0px 0px;
-webkit-border-radius: 82px 82px 0px 0px;
border: 0px solid #000000;
}