.impact{
    font-family: Impact, Charcoal, sans-serif;
}
.palatino_linotype{
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}
.tahoma{
    font-family: Tahoma, Geneva, sans-serif;
}
